<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content ="width=device-width, initial-scale=1.0">
        <title> tuv_cert </title>
    </head>
    <body>

        <b> how to use : . / tuvcert / [certID] </b>

        <p>
            Inhaber : <%= locals.Inhaber || "-" %> 
            <br>
            Straße : <%= locals.Strasse || "-" %>
            <br>
            Ort : <%= locals.Ort || "-" %>
            <br>
            Land : <%= locals.Land || "-" %>
        </p>

    </body>
</html>